@font-face {
    src: url(./fonts/fonts.css);
    font-family: 'ebgaramondmedium';
    font-weight: 500;
}
@font-face {
    src: url(./fonts/fonts.css);
    font-family: 'ebgaramondregular';
    font-weight: 400;
}
font-face {
    src: url(./fonts/fonts.css);
    font-family: 'interregular';
    font-weight: 400;
}
font-face {
    src: url(./fonts/fonts.css);
    font-family: 'interbold';
    font-weight: 700;
}            
